<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ImmoVote"
        tools:targetApi="31">
        <activity
            android:name=".AddCommentActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".EditAdminProfile"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".ListAdminActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".AddAdministratorActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".ProjectDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".RapportActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".EditProjectActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewProject"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".PPEDetailActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".EditPPEActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewPPEActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".AddUserActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true" />
    </application>

</manifest>